/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utils*/

.bold-text {
    font-weight: 800;
}
.marked-text {
    background-color: yellow;
}
.text-gray {
    color: grey;
}

.text-blue {
    color: rgb(46, 174, 230);
}

.text-white {
    color: white;
}
.tiny-text {
    font-size: 12px;
}

.bg-blue {
    background-color: rgb(177, 229, 242);
}

.bg-white {
    background-color: white;
}

.table-size-50 {
    width: 50%;
}

/*Generics*/

/*header */
header {
    background-color: rgb(79, 161, 255);
    background-image: url("../img/pattern.png");
    background-size: 20%;
    height: 100px;
    padding: 10px 20px;
}

#logo {
    background-image: url("../img/logo.svg");
    height: 70px;
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

#titolo {
    margin: 15px 5px;
}

/*Main*/
h1 {
    font-size: 50px;
}

.tim-photo {
    margin: 0px 5px;
}

.author-date {
    font-size: 20px;
    margin-top: 8px;
}

article {
    margin: 20px 5px;
}

.article-paragraph {
    margin: 20px 0px;
}
ul {
    list-style-position: inside;
    margin: 15px 5px;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: rgb(32, 170, 230);
    text-align: left;
}

.link-correlati {
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    margin: 10px;
}

.link-monitor {
    background-image: url("../img/monitor.jpg");
}

.link-grafico {
    background-image: url("../img/graph.jpg");
}

.text-link-corr {
    padding: 10px;
    font-size: 20px;
}
