/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utils*/

.text-gray {
    color: grey;
}

.text-blue {
    color: rgb(46, 174, 230);
}

.tiny-text {
    font-size: 12px;
}

/*Generics*/
header {
    background-color: rgb(79, 161, 255);
    background-image: url("../img/pattern.png");
    background-size: 20%;
    height: 100px;
    padding: 10px 20px;
}

#logo {
    background-image: url("../img/logo.svg");
    height: 100%;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

#titolo {
    margin: 15px 5px;
}

h1 {
    font-size: 50px;
}

.tim-photo {
    margin: 0px 5px;
}

.author-date {
    font-size: 20px;
    margin-top: 8px;
}
